<h2 class="text-center text-xl text-black-400 font-bold mb-5">
  <%= I18n.t('cats.index.title') %>
</h2>

<div class="container mx-auto px-8 max-w-screen-lg mb-10">
  <div class="grid gap-2 grid-cols-2 md:gap-4 md:grid-cols-3">
    <%= render CatCardComponent.with_collection(@cats) %>
  </div>
</div>

<div class="pgn-group flex justify-center mt-4 mb-4">
  <div class="pagination">
    <%= link_to_previous_page(@cats, '<', class: 'page prev') || '<span class="page prev disabled"><</span>'.html_safe %>

    <span class="page-info mx-4"><%= @cats.current_page %> / <%= @cats.total_pages %> Page</span>

    <%= link_to_next_page(@cats, '>', class: 'page next') || '<span class="page next disabled">></span>'.html_safe %>
  </div>
</div>
